<div class="row" align="center" style="margin-top: 4%">
	<h1>Please feel free to reach out!</h1>
	
	<div>
		<%= render 'form', contact: @contact %>
	</div>
	<div align="center">
	<p>For all inquiries please fill out the form below and we will reach you as soon as possible. Thank you so much for your time!</p>		
	</div>


</div>




