<div class="row" align="center" style="margin-top: 2%">
	<h4>Please feel free to reach out!</h4>
	
	<div align="center">
		<div class="row">
	        <ul class="social-network social-circle">
	          <li><a href="https://www.facebook.com/thronetechnology" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
	          <li><a href="https://twitter.com/ThroneTechnolo1" target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
	          <li><a href="https://www.instagram.com/thronetechnology/?hl=en" target="_blank" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
	          <li><a href="https://www.linkedin.com/in/thronetechnology" target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
	        </ul>
	      </div>
	 </div>

	
	<div style="margin-top: 2%">
		<%= render 'form', contact: @contact %>
	</div>
	<div align="center">
		<p>For all inquiries please fill out the form below and we will reach you as soon as possible. Thank you so much for your time!</p>		
	</div>


	




</div>




