<div class="row" align="center">
	<h1>Contact Us</h1>
	<p>For all inquiries please fill out the form below and we will reach you as soon as possible. Thank you so much for your time!</p>	
</div>


<%= render 'form', contact: @contact %>


