<!-- <div class="row">
	<div class="col-md-12">
		<div class="col-md-4">
			<div class="image" style="background-color: rgba(255,255,255,0.2); border-radius: 10px; width: 250px; height: 250px">
				<div align="center">
					<a href="https://www.theblackwomanisgodstores.com/" target="_blank"><#%= image_tag asset_path('BLACKWOMANISGOD GOLD.png'), :rel => 'icon', :type =>  'image/png', :id => 'TBWIG', :style => 'width: 275px; height: 100%' %></a>
				</div>
			</div>
		</div>
	</div>
</div>

<#% @projects.each do |project| %>

  <div class="carousel">
  	<#% (0...@project.images.count).each do |image| %>
		<a class="carousel-item"><#%= image_tag(@project.images[image]) %></a>
  	<#% end %>
    
  </div>

<#% end %> -->
<div class="row" data-aos="fade-up" data-aos-anchor-placement="center-center" data-aos-duration="2500">
	<div class="carousel" style="height: 1250px" align="center">

		<a class="carousel-item" style="width: 45%; height: 30%" href="https://www.dreamthinkachievecleaning.com/" target="_blank"><img src="https://throneassets.s3.amazonaws.com/Logo-3-4.jpg"><h5 style="color: #E8D124">Dream Think Achieve Cleaning</h5><br>Click to View</a>

	    <a class="carousel-item" style="width: 45%; height: 30%" href="https://www.theblackwomanisgodstores.com/" target="_blank"><img src="https://s3.amazonaws.com/throneassets/tbwig.jpg"><h5 style="color: #E8D124">T.B.W.I.G.S</h5><br>
	    Click to View</a>	

	    <a class="carousel-item" style="width: 45%; height: 30%" href="http://www.exponentialgrowthcapital.com/" target="_blank"><img src="https://throneassets.s3.amazonaws.com/logo.png">
	    <h5 style="color: #E8D124">Exponential Growth Capital</h5><br>Click to View</a>

	      <a class="carousel-item" style="width: 45%; height: 30%"><img src="https://s3.amazonaws.com/throneassets/jiggylogo.png"><h5 style="color: #E8D124">Coming Soon</h5></a>

	    <a class="carousel-item" style="width: 45%; height: 30%" href="https://www.youngpharaoh.net/" target="_blank"><img src="https://throneassets.s3.amazonaws.com/YPL.png"><h5 style="color: #E8D124">Young Pharaoh University</h5><br>Click to View</a>

	    <a class="carousel-item" style="width: 45%; height: 30%"><img src="https://takecareassets.s3.amazonaws.com/takecare_black_background.png"><h5 style="color: #E8D124">Take Care NY <br>Coming Soon</h5></a>

	    




  </div>
</div>
